.symptome-button {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
  }
  
  .symptome-button:hover {
    background-color: #cc6af4;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
  }
  
  .symptome-button:active {
    background-color: #c70faf;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 5px #bbb;
  }
  
  .symptome-button img {
    width: 200px;
    height: 100px;
  }
  .symptome-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .symptome-button img {
    width: 40%;
    height: auto;
  }
  
  .symptome-button p {
    margin-top: 10px;
  }
    